/findWrongReivewBySentimentAnalysis/review train huge/
/crawling/errlog.txt
/crawling/correct.txt
/findWrongReivewBySentimentAnalysis/best_model_short.h5
/findWrongReivewBySentimentAnalysis/reviewTrain/
/crawling/hanspell/
/findWrongReivewBySentimentAnalysis/best_model.h5
/findWrongReivewBySentimentAnalysis/last_Test_data.txt
/findWrongReivewBySentimentAnalysis/reviewTest.txt
/findWrongReivewBySentimentAnalysis/reviewTrain.txt
/findWrongReivewBySentimentAnalysis/reviewTrain135.txt
/findWrongReivewBySentimentAnalysis/tokenizer2.pickle
/findWrongReivewBySentimentAnalysis/tokenizer.pickle
/venvs/
*.xml
.idea/findWrongReview.iml
